.ssgg_contenedor_graf {
    margin-top: 10px;
    padding: 0;
    height: auto;
    position: relative;
    z-index: 500;
    margin: 0 auto;
}

    .ssgg_contenedor_graf h1 {
        font-family: 'OpenSans-Regular-webfont' !important;
        line-height: 20px !important;
        font-weight: 100;
        font-size: 24px !important;
        text-align: center;
        margin-top: 2px;
        padding: 0;
    }

    .ssgg_contenedor_graf h2 {
        font-family: 'OpenSans-Regular-webfont';
        line-height: 14px !important;
        font-weight: 100;
        font-size: 14px !important;
        text-align: center;
        margin-top: 0;
        padding: 0;
    }