@{
    ViewData["Title"] = "SSGG Cloud Analytics";
}


<div id="react-app">
    <div className="row container">
        <div><h2 className="ssgg_txt_color_02">Loading...</h2></div>

    </div>


    <div className="row">
        <img src="../img/gifs/invdg_desarrollo.gif" className="ssgg_img_type_b" />
    </div>

</div>



@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
