

<div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="invdg_menu_nav_long" role="group" aria-label="...">

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Index", "Home", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_inicio_a.png" class="btn_menu_img">
                Index
            </button>


            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='http://innovadag.com/'">
                <img src="~/Images/iconos/invdg_ico_innovadag_a.png" class="btn_menu_img">
                Innovadag
            </button>

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("News", "Home", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_noticias_a.png" class="btn_menu_img">
                News
            </button>
 
        
               </div>
    </div>
</div>

