

<div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="invdg_menu_nav_long" role="group" aria-label="...">

            <button class="btn btn_menu_nav_long" value="Inicio" onclick="location.href='@Url.Action("Data_Area_Gen_Position", "Data_Gen_Position", new { area = "" }, null)'">
                <img src="~/Images/iconos/invdg_ico_inicio_a.png" class="btn_menu_img">
                @Resources.Mnu.language._Mnu_Nav_Test
            </button>

        
               </div>
    </div>
</div>

